@font-face {
    font-family: "AssistantRegular";
    src: local("AssistantRegular"),
      url("./fonts/ProductSans-Medium.ttf") format("truetype");
    
  }


div#root {
    height: 100vh;
    width: 100vw;
    background-color: #33383e;
    color : #e9eaee !important;
    font-size: normal;
    font-family: "AssistantRegular";
    font-weight: normal !important;
}
html {
  height: 100vh;
  width: 100vw;
}

.not_bold {
  font-weight: normal !important;
  font-size: large;
  
}
/* #33383e */